/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/libtool
/libvtemm-*.tar.*
/INSTALL
/libvte/libvtemmconfig.h

Makefile
Makefile.in
stamp-*
.stamp*
*.l[oa]
*.[oa]
*.deps/
*.libs/
*.pc
